.register-container{
    display: flex;

}

.register-data{
    margin-top: 7rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27rem;
    width: 30rem;
    
}

.login-text{
    display: flex;
    justify-content: center;
}

.registration-input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
}

.register-ima{
   
    height: 600px;
    width: 590px;
}

@media screen and (max-width: 1100px) {
    .register-data{
       
        margin-left: 7rem;
        margin-right: 2rem;
       
        
    }
  
    .register-ima{
        height: 0rem;
        width: 0rem;
    }
    

}

@media screen and (min-width: 1280px) {

    .register-container{
        display: flex;
        justify-content: center;
    
    }
  
    .register-ima{
        height: 600px;
        width: 590px;
    }
    

}