.allsources-menu{
    background-color: #EFEFEF;
    height: inherit + 10;
    width: 950px;
    height: 700px;
    margin: 80px auto;
    border: 1px solid #B2B2B2;
    box-sizing: border-box;
    border-radius: 9px;
    align-items: center;

}

.allsources-menu2{
    margin: 80px auto;
    align-items: center;
}

.allsources-menu-title{
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    white-space: pre-line;
}

.container {
    margin-top: 1rem;
    margin-left: 2rem;
    max-width: 690px;
    max-height: 550px;
}

.container2 {
    margin-top: 1rem;
    margin-left: 2rem;
    max-width: 730px;
    max-height: 500px;
}

.table-src{
    
    justify-content: center;
    flex-grow: 6;
    
}

.all-src-container{
    display: flex; 
    flex-direction: row ;
    justify-content: space-between;
    margin-top: 10px;
}

.allsources-options{
    margin-top: 1rem;
    margin-left: -2.2rem;
    flex-grow: 1;
}