.container-cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    
}

.container-graph{
    height: 550px;
    width: 630px;
    margin-top: -30px;
}

.graph-details{
   margin-left: 4rem;
   margin-top: 1rem;
   margin-right: 9rem;
   margin-bottom: 1rem;
}