.register-container{
    display: flex;
}

.register-data{
    margin-top: 7rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27rem;
    width: 30rem;
    
}

.login-text{
    display: flex;
    justify-content: center;
}

.register-ima{
    background: url('../assets/images/register-background4.png')
    center center/cover no-repeat;
    height: 39rem;
    width: 50%;
    margin-left: 6rem;
}